body {
	background-image: url('background.jpg');	
	background-size: 100%;
}

h2 {
	color: #D8D8D8;
}

 /* unvisited link */
a:link {
  color: #1D01FF;
}

/* visited link */
a:visited {
  color: #3131DE;
}

/* mouse over link */
a:hover {
  color: #FF1D11;
}

/* selected link */
a:active {
  color: #FFCC00;
} 

.push {
  background: hsl(340deg 100% 32%);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}
.front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: hsl(345deg 100% 47%);
  color: white;
  transform: translateY(-6px);
}

.push:active .front {
  transform: translateY(-4px);
  padding: 10px;
}
