body {
	background-color: #FFFF00;	
}

#GoogleLogo {
	padding: 50px 0px 0px 0px;
}

#MainBar {
	padding: 3px 0px 3px 0px; 
	background-color: #D0D0D0;
	width: 913px;
}

#searchbar {
	width: 400px;
}

#gcse-search {
	width: 400px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
 }
